:root {
  --main-bg-color: #faf7f1;
  --secondary-bg-color: #2d4637;
  --tertiary-bg-color: #c2bdb3;
  --main-p-color: #000000;
  --secondary-p-color: #ffffff;
  --main-title-color: #00452c;
  --secondary-title-color: #ffffff;
}
