/* Artists component
----------------------*/
.artists {
  max-width: 100rem; // Max spazing horizontally
  margin: 4rem auto 10rem; // Spacing outside the element

  @media (max-width: 100rem) {
    margin: 4rem 2rem 10rem; // Spacing outside the element
  }

  // Title container of the section
  &__title {
    display: flex; // Activate flexbox
    margin-bottom: 2.5rem; // Spacing outside the element, bottom
    align-items: center; // Aligning items center on main axis

    // Icon next to the title
    img {
      height: 5rem;
      margin-left: -1.2rem; // Pulling it left side
    }

    // Section title name
    h2 {
      margin: 0; // Spacing outside the element
      font-weight: 300; // Text thickness

      @media #{$breakpoint-mobile-landscape} {
        font-size: 2.5rem; // Text size
      }
    }
  }

  // Arists grid layout
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: repeat(2, 1fr); // 2 columns, each 1fr wide

    @media #{$breakpoint-large} {
      grid-template-columns: repeat(1, 1fr); // 2 columns, each 1fr wide
    }

    // Grid item (artist)
    .single-artist {
      display: grid; // Activate grid
      grid-template-columns: 2fr 1fr; // Grid layout

      @media #{$breakpoint-tablet-portrait} {
        grid-template-columns: 1fr; // Grid layout
      }

      // Grid style for the items that have inverted cells (illustration image first, then artist)
      &--inverse {
        display: grid; // Activate grid
        grid-template-columns: 1fr 2fr; // Grid layout

        @media #{$breakpoint-tablet-portrait} {
          grid-template-columns: 1fr; // Grid layout
        }
      }

      // Illustarion image next to the artist in their cells
      &__illustration {
        @media #{$breakpoint-tablet-portrait} {
          display: none; // Removing the illustration image
        }
      }

      img {
        max-width: 100%; // Take as much space as possible horizontally
      }
    }
  }
}
