/* Food grid
--------------*/
.food__grid {
  display: grid; // Activate grid
  grid-template-columns: repeat(2, 1fr); // 2 columns, 1fr wide

  @media #{$breakpoint-large} {
    grid-template-columns: repeat(1, 1fr); // 2 columns, each 1fr wide
  }

  //
  .food-cell {
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media #{$breakpoint-tablet-portrait} {
      grid-template-columns: 1fr;
    }

    &__illustration {
      @media #{$breakpoint-tablet-portrait} {
        display: none;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
