/* FoodDetail component
----------------------*/
.cuisine {
  margin: 4rem auto 10rem; // Spacing outside the element

  // Conatiner of the image and description
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: 1fr 3fr; // 2 columns
    max-width: 90rem; // Max size horizontally
    margin: 3rem; // Spacing outside the element

    @media #{$breakpoint-tablet-portrait} {
      grid-template-columns: 1fr; // 2 columns
    }
  }

  // Food image container
  &__image {
    background-color: #abb5af;
    max-height: 30rem;
    max-width: 30rem;

    @media #{$breakpoint-large} {
      height: 20rem;
      width: 20rem;
    }

    @media #{$breakpoint-tablet-portrait} {
      width: 100%;
      height: 100%;
    }

    @media #{$breakpoint-mobile-landscape} {
      display: flex;
      justify-content: center;
    }

    // Food image
    img {
      margin-left: -2rem; // Negative spacing outside the element, pulling it left side
      border-radius: 50%; // Round corners
      height: 30rem;
      width: 30rem;

      object-fit: cover; // To maintain its aspect ratio while filling the element's entire content box
      object-position: center center; // Positions the element in the center vertically and horizontally

      @media #{$breakpoint-large} {
        height: 20rem;
        width: 20rem;
      }
      @media #{$breakpoint-mobile-landscape} {
        margin: 0;
        height: 10rem;
        width: 10rem;
        border-radius: 0;
      }
    }
  }
  // Description
  &__description {
    display: flex; // Activate flexbox
    flex-direction: column; // Placing items below one another
    justify-content: center; // Aligning items center on the main axis
    padding: 0 3rem; // Spacing inside the element
    color: var(--secondary-text-color);
    background-color: white;

    @media #{$breakpoint-mobile-portrait} {
      padding: 0 1rem;
    }
  }

  // Title of the food
  &__name {
    font-weight: 500; // Text thickness
  }
}
