/* Footer sponsors component
--------------------------*/
.sponsors {
  text-align: center; // Aligning items center on the X axis
  background-color: var(--tertiary-bg-color);
  padding: 2rem 0; // Spacing inside the element, top and bottom

  // Logo image
  &__logo {
    img {
      height: 4rem;
      margin: 0 auto; // Places the logo images in the center of their container

      @media #{$breakpoint-tablet-portrait} {
        height: 3rem;
      }
    }
  }

  &__title {
    margin: 0 0 2rem 0; // Removing spacing on the title text

    @media #{$breakpoint-tablet-portrait} {
      font-size: 1.25rem;
    }
  }
}
