.info {
  display: flex; // Activate flexbox
  flex-direction: column; // Stacking elements on top of each other
  align-items: center; // Aligning center on the X axis
  background-color: var(--secondary-bg-color);
  color: var(--tertiary-text-color);
  padding: 1.5rem 0; // Spacing inside the element, top and bottom

  // Social icons container
  &__socials {
    // Anchor tag of the socials icon
    a {
      margin: 1rem; // Spacing outside the element

      img {
        transition: 0.3s ease-in-out; // Animation settings
        width: 2.5rem;

        &:hover {
          transform: scale(1.2); // Increasing size by 120%
        }
      }
    }
  }

  // Container of the footer menu
  &-nav {
    // Container of the list items
    &__list {
      display: flex; // Activate flexbox
      font-size: 1.75rem; // Text size
      border-bottom: 1px solid white;
      padding: 1rem 0; // Spacing inside the element, top and bottom

      // List item
      li {
        margin-right: 2rem; // Spacing outside the element, right
        position: relative; // Needed for dot placements between the items

        // Selecting last item
        &:last-of-type {
          margin-right: 0; // Removing margin right
        }

        // Pseudoelement, dot between items
        &:after {
          content: '·'; // The dot between items
          margin-left: 2rem; // Spacing outside the element, left
        }

        // Pseudoelement of the last item
        &:last-of-type:after {
          content: none; // Removing the dot
        }
      }
    }
  }

  // Address container in the footer
  &__address {
    display: flex; // Activate flexbox
    padding-top: 1.25rem; // Spacing inside the element, top

    // Selecting all <p> elements
    p {
      margin: 0 0 0 2rem; // Spacing outside the element, left
      position: relative; // Needed for positioning
      font-size: 0.875rem; // Text size

      // Last <p> element in the container
      &:last-of-type {
        margin-right: 0; // Spacing around the element, right
      }

      // Pseudoelement, dot after every <p>
      &:after {
        content: '·'; // Inside of the pseudoelement
        position: absolute; // Needed for the positioning of the element
        margin-left: 1rem; // Spacing outside the element, left. Needed for the positioning of the element
      }

      // Last pseudoelement of <p>
      &:last-of-type:after {
        content: none; // Removing the dot
      }
    }
  }
}
