/* Header component
--------------------*/
.header {
  display: flex; // Activate flexbox
  align-items: center; // Aligning center on the Y axis
  height: 10rem; // Height 160px
  background-color: var(--main-bg-color);
  position: sticky; // Visible when scrolling
  top: 0; // Start point
  z-index: 11; // Position on the Z axis

  @media #{$breakpoint-tablet-portrait} {
    justify-content: space-between; // Space between the items is even
    padding: 1rem; // Spacing inside the element
    height: 7rem;
  }

  // Ticket button on smaller screens
  &__tickets {
    display: none; // Hiding the button initially
    border-radius: 50%; // Round corners
    background-color: #e1b9aa;
    padding: 0.5rem; // Spacing inside the element

    img {
      width: 3rem;
    }

    @media #{$breakpoint-tablet-portrait} {
      display: flex; // Becomes visible by changing display from 'none' to 'flex'
    }
  }
}
