/* Header component
--------------------*/
.header {
  display: flex; // Activate flexbox
  align-items: center; // Aligning center on the Y axis
  height: 10rem; // Height 160px
  background-color: var(--main-bg-color);
  position: sticky;
  top: 0;
  z-index: 11;
}

.nav {
  width: 100%; // Horizontally taking up as much space as possible

  &-main {
    margin-left: 2rem; // Spacing outside the element on the left side
  }

  &-secondary {
    justify-content: end; // Placaing the element at the end of the flexbox
    margin-right: 4rem; // Spacing outside the element, right side
  }

  &-list {
    display: flex; // Activate flexbox

    .item {
      margin: 0 3rem; // Spacing outside the element, right and left side
      font-size: 1.5rem; // Text size 24px
      position: relative; // Needed for the circle placements behind element
      font-weight: 400;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &--bold {
        font-weight: 500;
      }

      &::before {
        content: '';
        width: 3rem;
        height: 3rem;
        background-color: var(--tertiary-bg-color);
        position: absolute; // Letting the element place where it wants
        z-index: -1; // Adjusting element placemnt on the Z index
        border-radius: 50%; // Circular corners
        inset: calc(50% - 1.5rem); // Placing in the middle, by calculating 50 minus the radius
      }

      &--bg::before {
        background-color: #e1b9aa;
      }
    }
  }
}
