/* Menu component
----------------------*/
.menu {
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  &--active {
    height: calc(100vh - 10rem);

    @media #{$breakpoint-tablet-portrait} {
      height: calc(100vh - 7rem);
    }
  }

  &-btn {
    display: flex; // Activate flexbox
    flex-direction: column; // Stacking elements on top of each other
    justify-content: center; // Placing items in the center, main axis
    align-items: center; // Placing items in the center, corss axis
    position: fixed; // Placing the item in a specific spot on the document
    top: 10rem; // Button's location from the top
    right: 0; // Button's location from the right
    width: 6rem;
    height: 6rem;
    border-radius: 50% 0 50% 50%; // All corners rounded, except top right corner
    background-color: var(--tertiary-bg-color);
    z-index: 13; // Position on the Z axis

    @media #{$breakpoint-tablet-portrait} {
      top: 7rem;
      width: 4rem;
      height: 4rem;
    }

    .bar {
      background-color: var(--secondary-bg-color);
      height: 0.1rem;
      width: 2rem;
      margin: 0.3rem 0; // Spacing outside the element, top and bottom
      transition: transform 0.3s, opacity 0.3s; // Specifying what is transitioning and the time

      // Selecting 3rd line of the hamburger menu
      &:nth-of-type(3) {
        width: 1.5rem; // Making it shorter than the others
        margin-right: 0.5rem; // Using margin right to push it to the left so it is aligned with other lines
      }

      // Selecting 1st line of the hamburger menu
      &:nth-of-type(1) {
        transform-origin: center top; // Setting the origin of the element's transformations
      }

      // Selecting 2nd line of the hamburger menu
      &:nth-of-type(2) {
        transform-origin: center center; // Setting the origin of the element's transformations
      }

      // Selecting 3rd line of the hamburger menu
      &:nth-of-type(3) {
        transform-origin: center bottom; // Setting the origin of the element's transformations
      }
    }

    // Styles for when menu button is active
    &--active {
      border-left: 1px solid var(--main-bg-color);
      border-bottom: 1px solid var(--main-bg-color);

      // Styles for what happens to bar lines in the menu when it's activated
      .bar {
        // Selecting 1st line of the hamburger menu
        &:nth-of-type(1) {
          transform: translateY(12px) rotate(45deg); // Animation settings
          background-color: var(--main-bg-color); // Changing color
        }

        // Selecting 2nd line of the hamburger menu
        &:nth-of-type(2) {
          transform: translateY(0px) rotate(-45deg); // Animation settings
          background-color: var(--main-bg-color); // Changing color
        }

        // Selecting 3rd line of the hamburger menu
        &:nth-of-type(3) {
          opacity: 0; // Invisible
          background-color: var(--main-bg-color); // Changing color
        }
      }
    }
  }

  // Manu background
  &__background {
    width: 6rem;
    height: 6rem;
    background-color: var(--tertiary-bg-color);
    border-radius: 50% 0 50% 50%; // All corners rounded, except top right corner
    position: fixed; // Needed for positioning
    inset: 10rem 0 0 auto; //
    z-index: 9; // Position on the Z axis
    transform-origin: top right; // Setting the origin of the element's transformations
    transition: 0.5s ease; // Specifying the time and

    @media #{$breakpoint-tablet-portrait} {
      inset: 7rem 0 0 auto; //
      width: 4rem;
      height: 4rem;
    }

    // Active class for when background is active (menu open)
    &--active {
      transform: scale(200);
      width: 100%; // Inceasing the element in size
    }
  }

  // Menu list
  &-list {
    display: flex; // Activate flexbox
    position: fixed; // Stays in place when scrolling
    // top: 50%; // Position from top
    // left: 50%; // Position from left
    z-index: -1; // Position on the Z axis
    // transform: translateX(-50%); // Moving the element on X axis 50% of its size
    transition: opacity 0.5s; // Specifying what is transitioning and the time
    opacity: 0;
    max-width: 100rem;
    margin: 0 auto;

    @media #{$breakpoint-large} {
      flex-wrap: wrap;
      align-items: center;
    }

    // Styles when menu is opened
    &--active {
      opacity: 1; // Becomes visible
      z-index: 12; // Position on Z axis is moved up
      transition-delay: 0.1s; // Transition is delayed 0.1s to first let the background slide over the screen
    }

    //  Menu list item
    .item {
      display: flex; // Activate flexbox
      flex-direction: column; // Elements position under each other
      align-items: center; // Placing items in the center, corss axis
      margin: 0 3rem; // Spacing outside the element, left and right
      position: relative; // Needed for positioning of the droplet

      @media #{$breakpoint-xlarge} {
        margin: 0 2rem;
      }

      @media #{$breakpoint-large} {
        margin: 0 1rem 5rem;
      }

      // Icon inside each item
      &__icon {
        display: flex; // Activate flexbox
        align-items: center; // Placing items in the center, corss axis
        justify-content: center; // Placing items in the center, main axis
        background-color: white;
        width: 6rem;
        height: 6rem;
        border-radius: 50%; // Round corners
      }

      &__title {
        font-family: 'Source Sans 3', sans-serif; // Changing font
        margin-top: 1rem; // Spacing outside the element, top
        font-weight: 700; // Font thickness
      }

      &__drop {
        background-color: white;
        height: 3rem;
        width: 6rem;
        border-radius: 0 0 3rem 3rem; // Corner roundness, bottomr right and bottom left
        position: absolute; // Needed for positioning
        top: 3rem; // Positioning from top
        z-index: -1; // Positioning on the Z axis
        transition: height 0.3s ease-in-out; // Specifying what is transitioning and the time
      }

      // When item is hovered, the droplet inside changes height
      &:hover > .item__drop {
        height: 10rem;
      }

      // When item is hovered, the font changes weight
      &:hover > .item__title {
        font-weight: 500; // Font thickness
      }

      .image {
        width: 4rem;
        height: 4rem;
      }

      // Classes for specific icons in the menu items
      .half-circle {
        // Selecting the icon that has the half circle visible on the left side
        &-left {
          margin-right: 2rem; // Spacing outside the element, right
        }

        // Selecting the icon that has the half circle visible on the bottom
        &-bot {
          margin-top: 2rem; // Spacing outside the element, top
        }
      }
    }
  }

  // Illustration image when menu is opened
  &__illustration {
    position: fixed; // Doesn't change position when scrolling
    z-index: -1; // Position on the Z index
    margin: 0 20rem; // Spacing outside the element, left and right
    transition: opacity 0.5s; // Specifying what is transitioning and the time
    opacity: 0; // Invisible
    top: 10rem;

    @media #{$breakpoint-xlarge} {
      margin: 0 10rem;
    }

    @media #{$breakpoint-large} {
      margin: 0 6rem;
    }

    @media #{$breakpoint-tablet-portrait} {
      top: 7rem;
    }

    @media #{$breakpoint-mobile-landscape} {
      margin: 0 4rem;
    }

    // When menu is opened
    &--active {
      z-index: 10; // Position on the Z index
      opacity: 1; // Becomes visible
      transition-delay: 0.1s; // Transition is delayed 0.1s to first let the background slide over the screen
    }
  }
}
