/* Single artist component
----------------------------*/
.artist {
  display: flex; // Activate flexbox
  flex-direction: column; // Centering on the main axis
  align-items: center; // Centering on the corss axis
  margin: 4rem 0 10rem;

  // Container of the name and the icon next to the name
  &__title {
    display: flex; // Activate flexbox
    align-items: center; // Centering on the corss axis

    // Icon next to the title
    &::before {
      content: '';
      background-image: url('../../assets/half-circle-green.png');
      background-repeat: no-repeat;
      height: 6rem;
      width: 6rem;
      margin-left: -1.5rem; // Pulling it left side
    }
  }

  // Name
  &__name {
    margin: 0; // Removing spacing outside the element

    @media #{$breakpoint-tablet-portrait} {
      font-size: 3rem;
    }
  }

  // Container of the artist's name and bio
  &__grid {
    display: grid; // Activate grid
    grid-template-columns: 1fr 2fr; // 2 columns
    grid-template-rows: 4fr 1fr; // 2 rows
    max-width: 90rem; // Max size horizontally
    margin: 3rem 3rem 5rem; // Spacing outside the element

    @media #{$breakpoint-large} {
      grid-template-columns: 1fr; // 1 column, 1fr width
      grid-template-rows: auto 5fr 2fr; // 3 rows
    }

    @media #{$breakpoint-mobile-landscape} {
      margin: 1rem; // Spacing outside the element
      grid-template-rows: auto 4fr 1fr; // 3 rows
    }
  }

  // Container of the info about the artist
  &__description {
    // Layout
    display: flex; // Activate flexbox
    flex-direction: column; // Aligning items under each other
    justify-content: center; // Aligning items center on the main axis
    padding: 0 3rem; // Spacing inside the element
    position: relative; // Needed for positioning of the circles inside the container
    background-color: white;
    // Typo
    color: var(--secondary-text-color);

    @media #{$breakpoint-large} {
      grid-row: 2; // Changing the rox of the element
    }

    @media #{$breakpoint-mobile-landscape} {
      padding: 1rem;
    }

    // Parahgraphs inside the biography container
    p {
      z-index: 3; // Position on the Z axis, lifting up so text isn't hidden behind the balls
    }

    // The big circle in the background
    &::before {
      content: '';
      position: absolute; // Needed for positioning
      inset: 0 0 auto 0; // Positioning to top left
      border-radius: 0 50% 50% 50%; // All corners round except top left
      aspect-ratio: 1/1; // Keeps the span circular
      height: 100%; // Takes up as much space as possible, vertically
      max-width: 100%; // Doesn't go outside the grid cell when viewing on smaller screens
      background-color: var(--main-bg-color);

      @media #{$breakpoint-mobile-landscape} {
        display: none; // Hiding the element
      }
    }

    // The smaller circle in the background
    &::after {
      content: '';
      position: absolute; // Needed for positioning
      inset: 0 0 auto 0; // Positioning to top left
      border-radius: 0 50% 50% 50%; // All corners round except top left
      aspect-ratio: 1/1; // Keeps the span circular
      height: 50%; // Takes up 50% of space, vertically
      max-width: 100%; // Doesn't go outside the grid cell when viewing on smaller screens
      background-color: #abb5af;

      @media #{$breakpoint-mobile-landscape} {
        display: none; // Hiding the element
      }
    }
  }

  // Artist's image container
  &__image {
    background-color: #abb5af;
    max-height: 30rem;
    max-width: 30rem;

    @media #{$breakpoint-large} {
      max-width: 100%;
      display: flex; // Actiate flex
      justify-content: center; // Placing items center on the main axis
      align-items: center; // Placing items center on the cross axis
    }

    @media #{$breakpoint-mobile-landscape} {
      max-height: 100%;
      max-width: 100%;
    }

    // Artist's image
    img {
      margin-left: -2rem; // Negative space outside the element, pulling it left
      border-radius: 50%; // Round corners
      height: 30rem;
      width: 30rem;
      object-fit: cover; // To maintain its aspect ratio while filling the element's entire content box
      object-position: center center; // Positions the element in the center vertically and horizontally

      @media #{$breakpoint-large} {
        margin: 0; // Removing spacing outside the element
      }

      @media #{$breakpoint-mobile-landscape} {
        max-height: 20rem;
        max-width: 20rem;
      }
    }
  }

  // Spotify info af the artist
  .spotify {
    grid-column: span 2; // Merging the cells in grid
    display: flex; // Activate flexbox
    width: 100%; // Take as much space as possible horizontally
    border: 1px solid #c0c7c2;
    background-color: white;

    // Logo under the artist image
    &__logo {
      display: flex; // Activate flexbox
      align-items: center; // Aligning items center on the cross axis
      justify-content: center; // Aligning items center on the main axis
      width: 30rem;

      @media #{$breakpoint-large} {
        width: 100%; // Take as much space as possible horizontally
      }

      // Spotify logo img
      img {
        height: 3rem;
        cursor: pointer; // Imitating anchor tag
      }

      // Spotify company name
      h2 {
        // Layout
        color: var(--secondary-text-color);
        margin: 0; // Removing spacing outside the element
        cursor: pointer; // Imitating anchor tag

        // Typo
        font-size: 2rem; // Text size
        font-weight: 700; // Text thickness
      }
    }

    // 'Top songs from artist' text container
    &__cta {
      display: flex;
      height: 100%; // Take as much space as possible vertically

      @media #{$breakpoint-large} {
        width: 100%;
        justify-content: center;
        text-align: center;
      }

      // 'Top songs from artist' text
      h2 {
        // Layout
        align-self: center; // Aligning center on the corss axis
        margin: 0; // Removing spacing around the element

        // Typo
        font-size: 1.5rem; // Text size
        font-weight: 700; // Text thickness
      }
    }
  }
}
