/* Single artist component
----------------------------*/
.artist {
  display: flex; // Activate flexbox
  flex-direction: column; // Centering on the main axis
  align-items: center; // Centering on the corss axis

  // Container of the name and the icon next to the name
  &__name {
    display: flex; // Activate flexbox
    align-items: center; // Centering on the corss axis

    // Name
    h2 {
      margin: 0; // Removing spacing outside the element
    }
  }

  // Container of the artist's name and bio
  &__description {
    display: grid; // Activate grid
    grid-template-columns: 1fr 2fr; // 2 columns
    grid-template-rows: 4fr 1fr; // 2 rows
    max-width: 90rem; // Max size horizontally
    margin: 3rem; // Spacing outside the element

    @media #{$breakpoint-large} {
      grid-template-columns: 1fr; // 1 column, 1fr width
      grid-template-rows: auto 5fr 1fr; // 3 rows
    }

    @media #{$breakpoint-mobile-landscape} {
      margin: 1rem; // Spacing outside the element
      grid-template-rows: auto 4fr 1fr; // 3 rows
    }
  }

  // Container of the info about the artist
  &__bio {
    // Layout
    display: flex; // Activate flexbox
    flex-direction: column; // Aligning items under each other
    justify-content: center; // Aligning items center on the main axis
    padding: 0 3rem; // Spacing inside the element
    position: relative; // Needed for positioning of the circles inside the container
    background-color: white;
    // Typo
    color: var(--secondary-text-color);

    @media #{$breakpoint-mobile-landscape} {
      padding: 1rem;
    }

    // Parahgraphs inside the biography container
    p {
      z-index: 3; // Position on the Z axis, lifting up so text isn't hidden behind the balls
    }

    // The big circle in the background
    .background__circle {
      position: absolute; // Needed for positioning
      inset: 0 0 auto 0; // Positioning to top left
      border-radius: 0 50% 50% 50%; // All corners round except top left
      aspect-ratio: 1/1; // Keeps the span circular
      height: 100%; // Takes up as much space as possible, vertically
      background-color: var(--main-bg-color);

      @media #{$breakpoint-mobile-landscape} {
        display: none;
      }

      // The smaller circle in the background
      &--dark {
        position: absolute; // Needed for positioning
        inset: 0 0 auto 0; // Positioning to top left
        border-radius: 0 50% 50% 50%; // All corners round except top left
        aspect-ratio: 1/1; // Keeps the span circular
        height: 50%; // Takes up 50% of space, vertically
        background-color: #abb5af;

        @media #{$breakpoint-mobile-landscape} {
          display: none;
        }
      }
    }
  }

  // Artist's image container
  &__image {
    background-color: #abb5af;
    max-height: 30rem;
    max-width: 30rem;

    @media #{$breakpoint-large} {
      max-width: 100%;
      display: flex; // Actiate flex
      justify-content: center; // Placing items center on the main axis
      align-items: center; // Placing items center on the cross axis
    }

    @media #{$breakpoint-mobile-landscape} {
      max-height: 100%;
      max-width: 100%;
    }

    // Artist's image
    img {
      margin-left: -2rem; // Negative space outside the element, pulling it left
      border-radius: 50%; // Round corners
      height: 30rem;
      width: 30rem;
      object-fit: cover; // To maintain its aspect ratio while filling the element's entire content box
      object-position: center center; // Positions the element in the center vertically and horizontally

      @media #{$breakpoint-large} {
        margin: 0;
      }

      @media #{$breakpoint-mobile-landscape} {
        max-height: 20rem;
        max-width: 20rem;
      }
    }
  }

  // Spotify info af the artist
  .spotify {
    // Logo under the artist image
    &__logo {
      display: flex; // Activate flexbox
      align-items: center; // Aligning items center on the cross axis
      justify-content: center; // Aligning items center on the main axis
      width: 30rem;
      border: 1px solid #c0c7c2;
      border-right: 0; // Removing border frmo the right side
      background-color: white;

      @media #{$breakpoint-large} {
        border: 1px solid #c0c7c2;
        border-bottom: 0; // Removing border frmo the right side
        width: 100%;
        padding-top: 1rem;
      }

      // Spotify logo img
      img {
        height: 3rem;
      }

      // Spotify company name
      h2 {
        // Layout
        color: var(--secondary-text-color);
        margin: 0;

        // Typo
        font-size: 2rem;
        font-weight: 700;
      }
    }

    // 'Top songs from artist' text container
    &__top {
      display: flex; // Activate flexbox
      align-self: center; // Aligning center on the cross axis
      height: 100%; // Take as much space as possible vertically
      border: 1px solid #c0c7c2;
      border-left: 0; // Removing border on left
      background-color: white;

      @media #{$breakpoint-large} {
        border: 1px solid #c0c7c2;
        border-top: 0; // Removing border frmo the right side
        width: 100%;
        justify-content: center;
        margin: 1rem 0;
        text-align: center;
      }

      // 'Top songs from artist' text
      h4 {
        // Layout
        align-self: center;
        margin: 0 0 0 1rem;

        // Typo
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
